<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sản phẩm</title>
  <link rel="stylesheet" href="../css/ex5.css">
</head>
  <body>
   <section id="product">
    <div class="container">
        <div class="row">
            <h2>Phòng khách</h2>
        </div>
        <div class="row">
           
            <div class="col">
                <div class="item-thumbnail">
                    <div class="img">
                        <img src="../images/img1.jpg" alt="001">
                        <div class="icon-btn">
                            <a href="">
                                <button>
                                Xem
                                </button>
                            </a>
                            <button>
                                Tim
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <h4>Item 1</h4>
                        <p>9.999.999VNĐ</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="item-thumbnail">
                    <div class="img">
                        <img src="../images/img1.jpg" alt="001">
                        <div class="icon-btn">
                            <a href="">
                                <button>
                                Xem
                                </button>
                            </a>
                            <button>
                                Tim
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <h4>Item 2</h4>
                        <p>9.999.999VNĐ</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="item-thumbnail">
                    <div class="img">
                        <img src="../images/img1.jpg" alt="001">
                        <div class="icon-btn">
                            <a href="">
                                <button>
                                Xem
                                </button>
                            </a>
                            <button>
                                Tim
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <h4>Item 3</h4>
                        <p>9.999.999VNĐ</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="item-thumbnail">
                    <div class="img">
                        <img src="../images/img1.jpg" alt="001">
                        <div class="icon-btn">
                            <a href="">
                                <button>
                                Xem
                                </button>
                            </a>
                            <button>
                                Tim
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <h4>Item 4</h4>
                        <p>9.999.999VNĐ</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="item-thumbnail">
                    <div class="img">
                        <img src="../images/img1.jpg" alt="001">
                        <div class="icon-btn">
                            <a href="">
                                <button>
                                Xem
                                </button>
                            </a>
                            <button>
                                Tim
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <h4>Item 5</h4>
                        <p>9.999.999VNĐ</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="item-thumbnail">
                    <div class="img">
                        <img src="../images/img1.jpg" alt="001">
                        <div class="icon-btn">
                            <a href="">
                                <button>
                                Xem
                                </button>
                            </a>
                            <button>
                                Tim
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <h4>Item 6</h4>
                        <p>9.999.999VNĐ</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="item-thumbnail">
                    <div class="img">
                        <img src="../images/img1.jpg" alt="001">
                        <div class="icon-btn">
                            <a href="">
                                <button>
                                Xem
                                </button>
                            </a>
                            <button>
                                Tim
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <h4>Item 7</h4>
                        <p>9.999.999VNĐ</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="item-thumbnail">
                    <div class="img">
                        <img src="../images/img1.jpg" alt="001">
                        <div class="icon-btn">
                            <a href="">
                                <button>
                                Xem
                                </button>
                            </a>
                            <button>
                                Tim
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <h4>Item 8</h4>
                        <p>9.999.999VNĐ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </section>
  </body>
  </html>