<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Title</title>
        <link rel="stylesheet" href="../css/ex9.css">
    </head>
    <body>
        <header>
            <div class="brand"><a href="#"><img src="../images/HOMEPAGE/logo.png" alt="img"></a></div>
            <nav>
                <ul>
                    <li><a href="#">WHY CHOOSE US</a></li>
                    <li><a href="#">INDUSTRIES</a></li>
                    <li><a href="#">WORKS</a></li>
                    <li><a href="#">OUR TEAM</a></li>
                    <li><a href="#">CONTACT</a></li>
                    <li><a href="#">ENG/VN</a></li>
                </ul>
            </nav>
        </header>
        <div class="container">
            <div class="box">
                <h1>INDUSTRIES</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique molestias hic velit, ipsum facere nemo minus distinctio est quidem neque.</p>
                <button class="button">LEARN MORE</button>
            </div>
            <div class="box">
                <img src="../images/Industries/Industries-1.png">
                
            </div>
            <div class="box">
                <img src="../images/Industries/Industries-2.png">
               
            </div>
            <div class="box">
                <h2>our industries</h2>
                <h3>Consumer electronics</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique molestias hic velit, ipsum facere nemo minus distinctio est quidem neque.</p>
                <button class="button">LEARN MORE</button>
            </div>
            <div class="box">
                
                <h2>our industries</h2>
                <h3>Fintech</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique molestias hic velit, ipsum facere nemo minus distinctio est quidem neque.</p>
                <button class="button">LEARN MORE</button>
            </div>
            <div class="box">
                <img src="../images/Industries/Industries-3.png">
                
            </div>
            <div class="box">
                <img src="../images/Industries/Industries-4.png">
                
            </div>
            <div class="box">
                
                <h1>Healthcare</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique molestias hic velit, ipsum facere nemo minus distinctio est quidem neque.</p>
                <button class="button">LEARN MORE</button>
            </div>
            <div class="box">
                <h1>Insurance</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique molestias hic velit, ipsum facere nemo minus distinctio est quidem neque.</p>
                <button class="button">LEARN MORE</button>
            </div>
            <div class="box">
                <img src="../images/Industries/Industries-5.png">
            </div>
            <div class="box">
                <img src="../images/Industries/Industries-6.png">
                
            </div>
            <div class="box">
                <h1>Logistic</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique molestias hic velit, ipsum facere nemo minus distinctio est quidem neque.</p>
                <button class="button">LEARN MORE</button>
            </div>
            <div class="box">
                <h1>Manufacturing</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique molestias hic velit, ipsum facere nemo minus distinctio est quidem neque.</p>  
                <button class="button">LEARN MORE</button>
            </div>
            <div class="box">
                <img src="../images/Industries/Industries-7.png">
            </div>
            <div class="box">
                <img src="../images/Industries/Industries-8.png">
            </div>
            <div class="box">
                <h1>Travel</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique molestias hic velit, ipsum facere nemo minus distinctio est quidem neque.</p>  
                <button class="button">LEARN MORE</button>
            </div>
            <div class="box">
                <h1>Startup</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique molestias hic velit, ipsum facere nemo minus distinctio est quidem neque.</p>  
                <button class="button">LEARN MORE</button>
            </div>
            <div class="box">
                <img src="../images/Industries/Industries-9.png">
            </div>
          </div>
        <footer>
            <div>
            <nav>
                <ul><a href="#"><img src="../images/HOMEPAGE/logo.png" alt="img"></a>
                    <li><a href="#">WHY CHOOSE US</a></li>
                    <li><a href="#">INDUSTRIES</a></li>
                    <li><a href="#">WORKS</a></li>
                    <li><a href="#">OUR TEAM</a></li>
                    <li><a href="#">CONTACT</a></li>
                    <li><a href="#">ENG/VN</a></li>
                </ul>
            </nav>
        </div>
        <address>
            <ul>
                <li><a href="#"><img src="../images/inst.jpg" alt="img"></li>
                <li><a href="#"><img src="../images/logo.png" alt="img"></li>
            </ul>
        </address>
        </footer>
    </body>
</html>