<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Font-face</title>
  <link rel="stylesheet" href="../css/fonts.css">
  <link rel="stylesheet" href="../css/style.css">
</head>
  <body>
   <header>
    <h1>Devmaster Academy</h1>
   </header>
   <section>
    <h2>Viện công nghệ và đào tạo Devmaster</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis corrupti quibusdam sunt vero, consequatur quo at! A assumenda ipsa cum mollitia adipisci quos iusto laudantium. Distinctio reprehenderit nemo hic id!</p>
   </section>
   <section id="product">
    <h2>Sản phẩm nổi bật</h2>
    <div>
        <h3>Mới nhất</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi est, culpa quia voluptates asperiores maxime accusantium eaque officiis nobis qui odio quos quas error facilis voluptate tempore obcaecati minima aspernatur?</p>
    </div>
   </section>
  </body>
  </html>