<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cấu trúc điều khiển</title>
</head>
<body>
    <section id="zone1">
        <h1>Cấu trúc điều khiển</h1>
        <hr>
        <pre>
            *** Có 3 loại cấu trúc điều khiển.
            1. Cấu trúc lựa chọn/ rẽ nhánh
            1.a: Cấu trúc if => Có 4 dạng if khác nhau
            Dạng 1: if đơn
             if(expression){
                statement;
             }
             Dạng 2: if đầy đủ
             if(expression){
                statement - true; 
             }else{
                statement - false;
             }
             Dạng 3: if bậc thang
             if(expression-1){
                statement-1;
             }else if(expression-2){
                statement -2;
             }
             ...
             else{
                statement n+1;
             } //tối đa nên dùng 7 cấp
             Dạng 4: if lồng nhau(nested if)
             if(expression){
                statement;
                if(...){...};
             }else{

             }
            1.b: Cấu trúc Switch case:
            Switch(expression){
            case value1:
                statement1;
                break;
            case value2:
                statement2;
                break;
                ....
                [default:statement n+1; ] khi expression k bằng value nào cả
            }
            2. Cấu trúc lặp (loop)
             2.a. Cấu trúc lặp for ( 4 dạng)
             - Dạng 1: for đầy đủ
             (for init; condition; step){
                statement;
             }
             - Dạng 2: for khuyết
             init; //khuyết init
             (for ; condition; step){
                statement;
             }
             Khuyết condition
             condition; //lặp trong điều kiện luôn đúng
             (for init; ; step){
                statement;
             }
             Khuyết step
             step; //khuyết step 
             (for ; condition; ){
                statement;
             }
             - Dạng 3: Khuyết toàn bộ
             initial; //khởi tạo init
             for(;;){
                statement;
             }
             - Dạng 4: For không thân
             for(init, statement;condition; step, statement)
             {}
             2.b. Cấu trúc lặp while
             While(expression_condition){
                statement - true;
             } 
             2.c. Cấu trúc lặp do while
             do {
                statement;
             }
             while(expression_condition);
             2.d. Cấu trúc lặp trong một tập hợp foreach
             for(let _variable in collection){
                statement;
             }
             3.Lệnh nhảy
                break;
                continue; 
                return; (trả về nơi thực hiện tác vụ đó)
                  </pre>
    </section>
  
</body>
</html>