<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Industries</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
            <div class="container"> 
                <div class="head">
                    <div class="logo">
                        <img src="../images/logo.png" alt="TVM">
                    </div>
                    <nav>
                        <div class="menu-icon">
                            <div>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <ul>
                        <li><a href="#">why choose us</a></li>
                        <li><a href="#">industries</a></li>
                        <li><a href="#">works</a></li>
                        <li><a href="#">our team</a></li>
                        <li><a href="#">contact</a></li>
                        </ul>
                    </nav>
                    <div class="lang">
                        <a href="">ENG/VN</a>
                </div>
                </div>
            </div>
    </header>
    <section>
        <div class="container">
            <div class="row">
                <!-- Phần nội dung text -->
                <div class="col">
                    <div class="content">
                        <h1>Industries</h1>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                           Corporis praesentium et, quo soluta alias accusantium eius explicabo, sint neque nulla quae mollitia dolores accusamus quia sequi error in provident asperiores?
                        </p>
                        <a href="">Contact Us</a>
                    </div>
                </div>
                <!-- Phần hình ảnh -->
                <div class="col">
                    <div class="img">
                        <img src="../images/Industries/Industries-1.png" alt="Industries-01">
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Phần nội dung text -->
                <div class="col">
                    <div class="content">
                        <h3>our industries</h3>
                        <h2>Consumer electronics</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                           Corporis praesentium et, quo soluta alias accusantium eius explicabo, sint neque nulla quae mollitia dolores accusamus quia sequi error in provident asperiores?
                        </p>
                        <a href="">LEARN MORE</a>
                    </div>
                </div>
                <!-- Phần hình ảnh -->
                <div class="col">
                    <div class="img">
                        <img src="../images/Industries/Industries-2.png" alt="Industries-02">
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Phần nội dung text -->
                <div class="col">
                    <div class="content">
                        <h3>our industries</h3>
                        <h2>Pintech</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                           Corporis praesentium et, quo soluta alias accusantium eius explicabo, sint neque nulla quae mollitia dolores accusamus quia sequi error in provident asperiores?
                        </p>
                        <a href="">LEARN MORE</a>
                    </div>
                </div>
                <!-- Phần hình ảnh -->
                <div class="col">
                    <div class="img">
                        <img src="../images/Industries/Industries-3.png" alt="Industries-03">
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Phần nội dung text -->
                <div class="col">
                    <div class="content">
                        <h3>our industries</h3>
                        <h2>Healthcare</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                           Corporis praesentium et, quo soluta alias accusantium eius explicabo, sint neque nulla quae mollitia dolores accusamus quia sequi error in provident asperiores?
                        </p>
                        <a href="">LEARN MORE</a>
                    </div>
                </div>
                <!-- Phần hình ảnh -->
                <div class="col">
                    <div class="img">
                        <img src="../images/Industries/Industries-4.png" alt="Industries-04">
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Phần nội dung text -->
                <div class="col">
                    <div class="content">
                        <h3>our industries</h3>
                        <h2>Insurance</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                           Corporis praesentium et, quo soluta alias accusantium eius explicabo, sint neque nulla quae mollitia dolores accusamus quia sequi error in provident asperiores?
                        </p>
                        <a href="">LEARN MORE</a>
                    </div>
                </div>
                <!-- Phần hình ảnh -->
                <div class="col">
                    <div class="img">
                        <img src="../images/Industries/Industries-5.png" alt="Industries-05">
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Phần nội dung text -->
                <div class="col">
                    <div class="content">
                        <h3>our industries</h3>
                        <h2>Logistics</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                           Corporis praesentium et, quo soluta alias accusantium eius explicabo, sint neque nulla quae mollitia dolores accusamus quia sequi error in provident asperiores?
                        </p>
                        <a href="">LEARN MORE</a>
                    </div>
                </div>
                <!-- Phần hình ảnh -->
                <div class="col">
                    <div class="img">
                        <img src="../images/Industries/Industries-6.png" alt="Industries-06">
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Phần nội dung text -->
                <div class="col">
                    <div class="content">
                        <h3>Manufacturing</h3>
                        <h2>Logistics</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                           Corporis praesentium et, quo soluta alias accusantium eius explicabo, sint neque nulla quae mollitia dolores accusamus quia sequi error in provident asperiores?
                        </p>
                        <a href="">LEARN MORE</a>
                    </div>
                </div>
                <!-- Phần hình ảnh -->
                <div class="col">
                    <div class="img">
                        <img src="../images/Industries/Industries-7.png" alt="Industries-07">
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Phần nội dung text -->
                <div class="col">
                    <div class="content">
                        <h3>Manufacturing</h3>
                        <h2>Travel</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                           Corporis praesentium et, quo soluta alias accusantium eius explicabo, sint neque nulla quae mollitia dolores accusamus quia sequi error in provident asperiores?
                        </p>
                        <a href="">LEARN MORE</a>
                    </div>
                </div>
                <!-- Phần hình ảnh -->
                <div class="col">
                    <div class="img">
                        <img src="../images/Industries/Industries-8.png" alt="Industries-08">
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Phần nội dung text -->
                <div class="col">
                    <div class="content">
                        <h3>Manufacturing</h3>
                        <h2>Startup</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                           Corporis praesentium et, quo soluta alias accusantium eius explicabo, sint neque nulla quae mollitia dolores accusamus quia sequi error in provident asperiores?
                        </p>
                        <a href="">LEARN MORE</a>
                    </div>
                </div>
                <!-- Phần hình ảnh -->
                <div class="col">
                    <div class="img">
                        <img src="../images/Industries/Industries-9.png" alt="Industries-09">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
            <div class="container">
                <div class="row-footer">
                    <div class="logo">
                        <img src="../images/logo.png" alt="TVM">   
                    </div>
                    <nav>
                        <ul>
                        <li><a href="#">why choose us</a></li>
                        <li><a href="#">industries</a></li>
                        <li><a href="#">works</a></li>
                        <li><a href="#">our team</a></li>
                        <li><a href="#">contact</a></li>
                        </ul>
                    </nav>
                    <div class="social">
                        <a href="0396312298" title="039 631 2298"></a>
                   </div>
                    </div>
                </div>
            </div>
    </footer>
</body>
</html>