<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhúng Jquery vào HTML và sử dụng</title>
</head>
<body>
    <section id="zone1">
        <h1>Nhúng Jquery vào HTML và sử dụng</h1>
        <hr>
    </section>
    <!-- Nhúng thư viện Jquery -->
    <script src="../js/jquery-3.7.1.min.js"></script> 
    <script>
        //code sử dụng Jquery
        $(document).ready(function(){
            console.log("Hello Jquery");
        });
    </script>
</body>
</html>