*{
    margin:0;
    padding: 0;
    list-style: none;
}

footer{
    background:#363636;
    color:#fff;
}
footer .container{
    margin:0 15%;
}
footer .container .row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding:3rem;
}
footer .col {
    width:33.333333%;
}
footer h3{
    padding: 10px 0 5px 0;
    margin-bottom:10px;
}

footer h4{
    padding: 10px 0;
}
footer p, 
footer address,
footer a,
footer li{
    padding:5px 0px 5px 15px;
    color: #ccc;
}
footer h3{
    position: relative;
}
footer .item{
    position: relative;
}
footer h3:before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    width: 80px;
    height: 0px;
    border: 2px solid #fff;
}