*{
	margin: 0;
	padding: 0;
}
@font-face {
  font-family: "Gotham Medium";
  src: url('../fonts/Gotham Medium.otf');
}
@font-face {
  font-family: "Gotham-Ultra";
  src: url('../fonts/Gotham-Ultra.otf');
}
@font-face {
  font-family: "Gotham-Thin";
  src: url('../fonts/Gotham-Thin.otf');
}
body{
	background: #f3f3f3;
	font-family: "Gotham Medium";
}
.container {
	margin: .5rem 10%;
	background: #fff;
	padding: 1.5rem;
}
h2{
	font-family: "Gotham-Ultra";
	color:#2c2e53;
}
.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.row > h2, .row>a {
	margin: 1.5rem 0;
}
a{
	text-decoration: none;
	color: #000;
}
.col{
	width: 25%;
	/*padding: .5rem;*/
}
.item{
	margin: .5rem;
}
.item img{
	width: 100%;
}
.item-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.item-info > h3 + p{
	font-size: .8rem;
	color:#ddd;
}


/*ipad pro*/
@media only screen and (max-width: 1024px) and (min-width: 769px) {
	.container{
		margin: .5rem 5%;
	}
	.col{
		width: 33.333333%;
	}
}
/*ipad*/
@media only screen and (max-width: 768px) and (min-width: 421px) {
	.container{
		margin: .5rem 1rem;
	}
	.col{
		width: 50%;
	}
}
/*mobile*/
@media only screen and (max-width: 420px) {
	.container{
		margin: .5rem;
	}
	.col{
		width: 100%;
	}
}
